{% extends "_layout.html" %}

{% block title %}
Create a student account
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}

<h1>Create a student account</h1>
<form action="{{url_for('students.create')}}" method="POST">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
    <label for="first_name">First name</label>
    <input type="text" name="first_name" id="first_name">
    <label for="last_name">Last name</label>
    <input type="text" name="last_name" id="last_name">
    <label for="age" id="age" name="age">Age</label>
    <input type="number" name="age" id="age" min="1" max="130">
    <br/>
    Gender
    <br/>
    <input type="radio" id="male" name="male" value="male">
    <label for="male">Male</label><br>
    <input type="radio" id="female" name="female" value="female">
    <label for="female">Female</label><br>
    <input type="submit" class="btn btn-primary" value="Submit">
</form>

{% endblock %}