boto3==1.16.61
botocore==1.19.61
certifi==2020.12.5
chardet==4.0.0
click @ file:///home/linux1/recipes/ci/click_1610990599742/work
colorama==0.4.4
Flask==1.1.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2 @ file:///home/linux1/recipes/ci/jinja2_1610990516718/work
jmespath==0.10.0
MarkupSafe @ file:///tmp/build/80754af9/markupsafe_1607027305082/work
peewee==3.14.0
peewee-db-evolve==3.7.6
psycopg2-binary==2.8.6
python-dateutil==2.8.1
requests==2.25.1
s3transfer==0.3.4
six==1.15.0
stripe==2.55.1
urllib3==1.26.3
Werkzeug==1.0.1
wincertstore==0.2
wincertstore==0.2